@media (max-width: 800px) {
  .logo-barra {
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    padding-left: 0;
    gap: 32px;
    margin-bottom: 10px;
  }

  .logo-senai,
  .logo-nasa {
    width: 110px;
    height: 28px;
    margin: 0;
  }
  .logo-nasa {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .logo-barra {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 10px;
    padding-left: 0;
  }

  .logo-senai,
  .logo-nasa {
    width: 80px;
    height: 20px;
    margin: 0;
  }
  .logo-nasa {
    margin-left: 0;
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(180deg, #ff0000);
  background-image: url('fundonasa.png');
  min-height: 100vh;
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px;
}

main.conteudo {
  min-height: 60vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-barra {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding-left: 20px;
  margin-bottom: 0;
  gap: 0px;
}

.logo-senai {
  width: 200px;
  height: 40px;
  object-fit: contain;
  margin: 5px 0;
}

.logo-nasa {
  width: 80px;
  height: 40px;
  object-fit: contain;
  margin-left: -35px;
}

.titulo-central {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Segoe UI', sans-serif;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: none;
  border: none;
  box-shadow: none;
}

.subtitulo-central {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 5px;
  margin-bottom: 20px;
  opacity: 0.85;
  letter-spacing: 0.5px;
}

.painel-controle {
  margin: 20px 0;
}

input[type="date"], button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
  background-color: #ff34c2;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 4px 8px -2px #000000; 
}

button {
  cursor: pointer;
  background-color: #ff34c2;
  border: none;
  transition: transform 0.2s, background 0.3s;
}

button:hover {
  background-color: #c77dff;
  transform: scale(1.05);
}

.data-exibida {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
}

#tituloMidia {
  color: #ffffff;         
  font-size: 32px;
  margin-bottom: 10px;
}

#textoDescricao {
  color: #ffffff;
  font-size: 0.9rem; 
  margin-bottom: 5px;
  text-align: left;
}

.card-resultado {
  background: rgba(255, 0, 140, 0.7);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.4);
  padding: 32px 20px 24px 20px;
  max-width: 600px;
  margin: 0 auto 30px auto;
  backdrop-filter: blur(2px);
  display: none;
}

.card-resultado.visivel {
  display: block;
}
